.layout-container{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-container:hover{
    cursor: pointer;
}

.layout-container.expandable{
    height: 100px;
}

.info{
    text-align: justify;
}

.layout-container::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
  }

@media (max-width: 768px) {
   
}