<div class="description">
  <p class="fade-in">
    <strong>DriveBlaze</strong> is the premier annual tech magazine of <b>UEM</b> Kolkata, showcasing
    the forefront of technological innovation and thought leadership. This year,
    DriveBlaze will be highlighted by approximately 10 exciting and diverse
    events, each designed to engage and inspire the tech community. From
    cutting-edge presentations and interactive workshops to insightful panel
    discussions and networking opportunities, DriveBlaze aims to be a hub for
    tech enthusiasts, industry professionals, and students alike, reflecting the
    dynamic and rapidly evolving world of technology.
  </p>

  <p>
    The <strong>DriveBlaze Team</strong> is a dynamic group of passionate students and tech
    enthusiasts from the University of Engineering and Management, Kolkata,
    dedicated to curating and presenting cutting-edge content in the field of
    technology. With a commitment to fostering innovation and creativity, the
    team brings together a diverse set of skills, from coding and design to
    editorial expertise, ensuring that every issue of DriveBlaze is a
    comprehensive and engaging reflection of the latest trends, challenges, and
    breakthroughs in the tech world. Through collaboration and a shared vision,
    the DriveBlaze Team strives to inspire and empower the next generation of
    tech leaders.
  </p>

  <img src="/assets/images/prop_img7.png" alt="">
</div>
