.description{
    direction: ltr;
    margin: 20px;
}
.description > p{

    text-align: justify;
}



.description > img{
    width: 250px;
    margin-bottom: 12px;
}

.content-with-border {
    padding: 20px;
    border: 10px solid transparent; /* Define the border size */
    border-image: url('/assets/images/border.png') 30 round; /* Use your image as the border */
  }