<div class="widgets">
    <div class="contact">
        <h3>For Further Information Contact: </h3>
        <ul>
            <li>
              <a href="https://wa.me/8348284337">
                Diptadip Biswas
                <span
                  ><i class="fa-brands fa-whatsapp"></i>
                  8348284337</span
                >
              </a>
            </li>
            <li>
              <a href="https://wa.me/7679262022">
                Diptayan Manna
                <span>
                    <i class="fa-brands fa-whatsapp"></i>
                  7679262022</span
                >
              </a>
            </li>
            <li>
              <a href="https://wa.me/8918389523">
                Pratyay Chaterjee
                <span>
                    <i class="fa-brands fa-whatsapp"></i>8918389523</span
                >
              </a> 
            </li>
            <li>
              <a href="https://wa.me/7044522841">
                Santadip Rudra
                <span>
                    <i class="fa-brands fa-whatsapp"></i>7044522841</span
                >
              </a>
            </li>
          </ul>
    </div>

    <div class="map">
        <h3>Map</h3>
        <div class="iframe">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.5126958615824!2d88.48732647507734!3d22.5599201795007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a020b267a3cdc13%3A0xb3b21d652126f40!2sUniversity%20of%20Engineering%20%26%20Management%2C%20Kolkata%20(UEM)!5e0!3m2!1sen!2sin!4v1723828355808!5m2!1sen!2sin"
            width="200"
            height="100"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
    </div>
  </div>