<div class="widgets">
  <div class="heading">
    <h3>Reach Out To Us</h3>
  </div>

  <div class="contact">
    <div class="social-media">
      <h4 style="font-weight: 700">Social Media</h4>

      <div class="layer">
        <div class="links">
          <a href="https://www.linkedin.com/company/driveblazeuemk/">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>

        <div class="links">
          <a href="https://discord.gg/BynDwdqpkz">
            <i class="fa-brands fa-discord"></i>
          </a>
        </div>

        <div class="links">
          <a href="https://x.com/driveblazeuemk">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </div>
      </div>
      <div class="layer two">
        <div class="links">
          <a href="mailto:driveblaze@uem.edu.in">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </div>

        <div class="links">
          <a href="https://whatsapp.com/channel/0029VakvAXeDp2Q845XnAG40">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>

        <div class="links">
          <a href="tel:+918062180198">
            <i class="fa-solid fa-phone"></i>
          </a>
        </div>
      </div>

      <div class="layer">
        <div class="links">
          <a href="https://www.instagram.com/driveblazeuemk">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>

        <div class="links">
          <a href="https://www.facebook.com/driveblazeuemk/">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </div>

        <div class="links">
          <a href="https://telegram.me/DriveBlazeUEMK">
            <i class="fa-brands fa-telegram"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-team">
      <div class="header">
        <h4 style="font-weight: 700;margin-top: 20px;">Support Team</h4>
      </div>
      <div class="mobile">
        <div class="row">
          <div class="contact-card">
            <p>Diptadip Biswas</p>
            <p>Phone: 8348284337</p>
            <a
              href="https://wa.me/+918348284337"
              target="_blank"
              class="whatsapp-link"
            >
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>
  
          <div class="contact-card">
            <p>Subhajit Dutta</p>
            <p>Phone: 8583833292</p>
            <a
              href="https://wa.me/+918583833292"
              target="_blank"
              class="whatsapp-link"
            >
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="contact-card">
            <p>Saswata Mukherjee</p>
            <p>Phone: 8584874226</p>
            <a
              href="https://wa.me/+918584874226"
              target="_blank"
              class="whatsapp-link"
            >
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>
  
          <div class="contact-card">
            <p>Pratyay Chaterjee</p>
            <p>Phone: 8918389523</p>
            <a
              href="https://wa.me/+918918389523"
              target="_blank"
              class="whatsapp-link"
            >
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

