<div class="layout">
    <div class="header">
        <h3>Meet Our Team</h3>
    </div>
  <div class="grid-container">
    <div class="glass-container">
        <div class="widgets">
            <h2 class="event-name">Faculty Coordinators</h2>
            <button (click)="goto('/team/faculty')" class="go-button">Visit</button>
        </div>
    </div>

    <div class="glass-container">
        <div class="widgets">
            <h2 class="event-name">Convenors</h2>
            <button (click)="goto('/team/convenor')" class="go-button">Visit</button>
        </div>
    </div>

    <div class="glass-container">

        <div class="widgets">
            <h2 class="event-name">Core</h2>
            <button (click)="goto('/team/core')" class="go-button">Visit</button>
        </div>
    </div>

    <div class="glass-container">

        <div class="widgets">
            <h2 class="event-name">Student Coordinators</h2>
            <button (click)="goto('/team/student')" class="go-button">Visit</button>
        </div>
    </div>
  </div>
</div>
