form {
    direction: ltr;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }

  fieldset > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
  }
  
  legend {
    font-weight: bold;
    padding: 0 10px;
  }
  
  h3 {
    margin-top: 0;
  }
  
  .payment-info {
    text-align: center;
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  .payment-info > div{
    margin-top: 12px;
  }
  
  .qr-code {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: lime;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  

  @media (max-width: 768px) {

    form {
      padding: 15px;
    }
  
    fieldset {
      padding: 8px;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="file"] {
      padding: 6px;
      height: 50px;
    }
  
    button {
      padding: 8px;
      font-size: 14px;
    }
  
    .qr-code {
      width: 250px;
    }
  }
  
  @media (max-width: 480px) {
    form {
      padding: 10px;
    }
  
    fieldset {
      padding: 5px;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="file"] {
      padding: 5px;
      font-size: 14px;
      height: 50px;
    }
  
    button {
      padding: 6px;
      font-size: 13px;
    }
  
    .qr-code {
      width: 240px;
    }
  }