<div class="partner-container">
  <div class="partner-header">
    <h1>Our Partners</h1>
  </div>


  <div class="gold">
    <h3>Gold Partners</h3>
    <div class="partners">
      <div class="sponsor-card glass-card">
        <img [src]="'/assets/images/partners/devfolio.png'" alt="DEVFOLIO LOGO" class="sponsor-logo" />
      </div>

      <div class="sponsor-card glass-card">
        <img [src]="'/assets/images/partners/nextyojana.png'" alt="NEXTYOJANA LOGO" class="sponsor-logo" />
      </div>
    </div>
  </div>


  <div class="gold">
    <h3>Silver Partners</h3>
    <div class="partners">
      <div class="sponsor-card glass-card silver-card">
        <img [src]="'/assets/images/partners/polygon.png'" alt="POLYGON LOGO" class="sponsor-logo" />
      </div>

      <div class="sponsor-card glass-card silver-card">
        <img [src]="'/assets/images/partners/ethindia.png'" alt="ETHINDIA LOGO" class="sponsor-logo" />
      </div>
    </div>
  </div>

  <div class="gold">
    <h3>Bronze Partners</h3>
    <div class="partners">
      <div class="sponsor-card glass-card bronze-card">
        <img [src]="'/assets/images/partners/aptos.png'" alt="APTOS LOGO" class="sponsor-logo" />
      </div>
    </div>
  </div>

  <div class="gold"></div>
    <h3>Community Partners</h3>
    <div class="partners">
      <div class="sponsor-card glass-card tech-card">
        <img [src]="'/assets/images/partners/hackx.jpeg'" alt="HACKX" class="sponsor-logo" />
      </div>

      <div class="sponsor-card glass-card tech-card">
        <img [src]="'/assets/images/partners/tssl.png'" alt="TSSL_LOGO" class="sponsor-logo" />
      </div>

      <div class="sponsor-card glass-card tech-card">
        <img [src]="'https://www.pephub.tech/_next/static/media/logo.f7654aae.svg'" alt="PEP_HUB" class="sponsor-logo" />
      </div>
    </div>
 


  <div class="gold">
    <h3>Technical Partners</h3>
    <div class="partners">
      <div class="sponsor-card glass-card tech-card">
        <img [src]="'/assets/images/partners/gfg.png'" alt="GFG_LOGO" class="sponsor-logo" />
      </div>

      <div class="sponsor-card glass-card tech-card">
        <img [src]="'/assets/images/partners/iete.png'" alt="IETE_LOGO" class="sponsor-logo" />
      </div>
    </div>
  </div>
</div>
