<ngx-ui-loader
  [fgsSize]="100" 
  [bgsSize]="64"
  [fgsTemplate]="foregroundSpinner"
  [bgsTemplate]="backgroundSpinner"
  
></ngx-ui-loader>

<ng-template #foregroundSpinner>
	<div class="sk-chase">
		<div class="sk-chase-dot"></div>
		<div class="sk-chase-dot"></div>
		<div class="sk-chase-dot"></div>
		<div class="sk-chase-dot"></div>
		<div class="sk-chase-dot"></div>
		<div class="sk-chase-dot"></div>
	</div>
</ng-template>

<ng-template #backgroundSpinner>
	<div class="la-ball-clip-rotate-multiple la-2x">
		<div></div>
		<div></div>
	</div>
</ng-template>


<div class="background-container">
  <div class="blur-overlay"></div>
  <div class="content">
    <div class="container-fluid" [ngClass]="isNavBarOn?'navon':'navoff'">
      <header>
       <button *ngIf="!isNavBarOn" (click)="openNav()"><i class="fa-solid fa-bars" style="color: white;"></i></button>
       <app-navigation [showNavBar]="isNavBarOn" (navBarEvent)="navBarStatus($event)"></app-navigation>
     </header>
    
     <main *ngIf="!isNavBarOn">
       <router-outlet></router-outlet>
     </main>
    
     <footer>
      <app-footer></app-footer>
     </footer>
    </div>
  </div>

  <script defer async src="https://apply.devfolio.co/v2/sdk.js"></script>
</div>
