<div class="layout">
  <h3>Participate in thrilling contests organized by DriveBlaze</h3>
  <h4>Win Exotic Cash Prizes , Goodies & Swags</h4>

  <div class="grid-container">
    <div class="glass-container">
      <img
        [src]="'/assets/images/events/hacksynthesis.png'"
        alt="Event Image"
        class="event-image"
      />
      <h2 class="event-name">Hack Synthesis</h2>
      <button class="go-button" (click)="goto('/hackathon')">Visit</button>
    </div>

    <div class="glass-container gold-container">
      <img
        [src]="'/assets/images/events/comingsoon.png'"
        alt="Event Image"
        class="event-image"
      />
      <h2 class="event-name">CeleBharat</h2>
      <button class="go-button" (click)="goto('/hackathon')">Visit</button>
    </div>

    <div class="glass-container" *ngFor="let event of events">
      <img [src]="event.image" alt="Event Image" class="event-image" />
      <h2 class="event-name">{{ event.name }}</h2>
      <button class="go-button" (click)="gotoComponent('/event', event)">
        Visit
      </button>
    </div>
    <!-- Add more .glass-container items as needed -->
  </div>
</div>
