.layout{
  height: 100%;
  direction: ltr;
}

.layout > h3{
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.contests{
  display: flex;
  flex-direction: row;
}

.contest{
  object-fit: contain;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contest >h3{
  position: relative;
  margin-left: 14px;
  font-weight: 800px;
}

.contest-text{
  font-weight: 700;
}

.content{

}

.background{
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in;
  cursor: pointer;


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.background:hover{
  width: 75%;
  height: 75%;
  transform: rotate(12deg);
  background-size: 150%;
}

.background > h3{
  margin-top: -10px;
  margin-left: 15px;
}


@media (max-width: 768px) {
  .contests{
    flex-direction: column;
    align-items: center;
  }

  .contest{
    width: 200px;
    height: 200px;
  }
}