<div class="team" (contextmenu)="$event.preventDefault()">
  <h2>Team DriveBlaze</h2>

  <!-- core -->
  <div class="layer">
    <h2>Core</h2>
    <div class="members">
      <div class="nft" *ngFor="let item of core">
        <div class="main">
          <img class="tokenImage" [src]="item.image" alt="DRIVEBLAZE_CORE" />
          <h3>{{ item.name }}</h3>
          <p class="description"><a href="">linkedin</a></p>
          <div class="tokenInfo">
            <div class="price">
              <ins>◘</ins>
              <p><a href="">instagram</a></p>
            </div>
            <div class="duration">
              <ins>◷</ins>
              <p><a href="">Twitter</a></p>
            </div>
          </div>
          <hr />
          <div class="creator">
            <div class="wrapper">
              <img src="/assets/images/logo.png" alt="Creator" />
            </div>
            <p><ins>Core </ins> DriveBlaze</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- conveynors -->
  <div class="layer">
    <h2>Conveynors</h2>
    <div class="members">
        <div class="nft" *ngFor="let item of conveynors">
            <div class='main'>
              <img class='tokenImage' [src]="item.image" alt="DRIVEBLAZE_CORE" />
              <h3>{{item.name}}</h3>
              <p class='description'><a href="">linkedin</a></p>
              <div class='tokenInfo'>
                <div class="price">
                  <ins>◘</ins>
                  <p><a href="">instagram</a></p>
                </div>
                <div class="duration">
                  <ins>◷</ins>
                  <p><a href="">Twitter</a></p>
                </div>
              </div>
              <hr />
              <div class='creator'>
                <div class='wrapper'>
                  <img src="/assets/images/logo.png" alt="Creator" />
                </div>
                <p><ins>Conveynors</ins> DriveBlaze</p>
              </div>
            </div>
          </div>
    </div>
  </div>


  <!-- coordiantors -->
  <div class="layer">
    <h2>Coordinators</h2>
    <div class="members">
        <div class="nft" *ngFor="let item of coordinators">
            <div class='main'>
              <img class='tokenImage' [src]="item.image" alt="DRIVEBLAZE_COORDINATORS" />
              <h3>{{item.name}}</h3>
              <p class='description'><a href="">linkedin</a></p>
              <div class='tokenInfo'>
                <div class="price">
                  <ins>◘</ins>
                  <p><a href="">instagram</a></p>
                </div>
                <div class="duration">
                  <ins>◷</ins>
                  <p><a href="">Twitter</a></p>
                </div>
              </div>
              <hr />
              <div class='creator'>
                <div class='wrapper'>
                  <img src="/assets/images/logo.png" alt="Creator" />
                </div>
                <p><ins>Coordinators</ins> DriveBlaze</p>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
