<div class="prop-image">
  <img src="/assets/images/prop_img2.png" alt="" />
</div>

<div class="moving-gear">
  <i class="fa-solid fa-gear rotate-image"></i>
</div>

<div class="hackathon-container">
  <h1 class="glow-text">Hack Synthesis 2024</h1>
  <p class="glow-text" style="color: gold">Theme: Open Innovation</p>

  <div class="timeline">
    <div class="timeline-item">
      <h2>Registrations & Idea Submission</h2>
      <p>August 25, 2024 - September 20, 2024</p>
    </div>
    <div class="timeline-item">
      <h2>Evaluation</h2>
      <p>September 20, 2024 - September 25, 2024</p>
    </div>
    <div class="timeline-item">
      <h2>Finals</h2>
      <p>September 28, 2024 - September 29, 2024</p>
    </div>
  </div>

  <div class="prize-pool">
    <h2 class="glow-text">Prize Pool</h2>
    <p>Exciting prizes await the top teams!</p>
  </div>

  <div class="rules-regulations">
    <h2 class="glow-text">Rules and Regulations</h2>
    <ul>
      <li>All participants must register by the deadline.</li>
      <li>Projects must adhere to the theme of open innovation.</li>
      <li>Teams must submit their entries by the evaluation deadline.</li>
      <li>Each team can have a mimimum of 1 and a maximum of 4 members</li>
      <li>Finalists will be announced on September 26, 2024.</li>
      <li>All decisions by the judges are final.</li>
    </ul>
  </div>

  <div 
	class="apply-button" 
	data-hackathon-slug="hacksynthesis" 
	data-button-theme="light"
	style="height: 44px; width: 312px"
></div>
</div>
