<div class="container-fluid">
  <div class="layout">
    <div class="theme">
      <div class="theme-container">
        <h2>Theme: Open Innovation</h2>
        <p>
          The theme of this hackathon is <strong>Open Innovation</strong>. We
          encourage participants to think outside the box, collaborate across
          disciplines, and create solutions that push the boundaries of what's
          possible. Whether you're tackling a social issue, enhancing technology,
          or reimagining everyday life, this is your chance to innovate freely and
          make a real impact.
        </p>
      </div>
    </div>
  
    <div class="logo-header">
      <h3>DriveBlaze Presents</h3>
      <img src="/assets/images/hacksynthesis.png" alt="" />
      <h4>Harmonious Fusion of different perspectives</h4>
      <h3>To Build Something Extra Ordinary</h3>
      <div 
      class="apply-button" 
      data-hackathon-slug="hack-synthesis" 
      data-button-theme="light"
      style="height: 44px; width: 312px">
  </div>
    </div>
  
    <div class="timeline">
      <div class="timeline-container">
        <h2>Timeline</h2>
        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-date">August 27, 2024 - September 20, 2024</div>
            <div class="timeline-content">Registrations</div>
          </div>
          <div class="timeline-item">
            <div class="timeline-date">
              September 20, 2024 - September 25, 2024
            </div>
            <div class="timeline-content">Idea Evaluation</div>
          </div>
          <div class="timeline-item">
            <div class="timeline-date">September 28-29, 2024</div>
            <div class="timeline-content">Final Event</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="prizes">
    <div class="prize-pool">
      <div class="heading">
        <h3>Prize Pool</h3>
      </div>
      
      <div class="prize">
        <div class="card">
          <div class="body">
            <h3>
              Winner
            </h3>
            <img src="/assets/images/prizes/1.png" alt="">
          </div>
          <h3 class="card-footer">
            INR 30,000
          </h3>
        </div>
  
        <div class="card">
          <div class="body">
            <h3>
              1st Runner Up
            </h3>
            <img src="/assets/images/prizes/2.png" alt="">
          </div>
          <h3 class="card-footer">
            INR 20,000
          </h3>
        </div>
  
        <div class="card">
          <div class="body">
            <h3>
              2nd Runner Up
            </h3>
            <img src="/assets/images/prizes/3.png" alt="">
          </div>
          <h3 class="card-footer">
            INR 10,000
          </h3>
        </div>
      </div>
    </div>
  </div>
  
</div>


