.hackathon-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: var(--premiumwhite);
  }
  
  .timeline {
    margin: 20px 0;
  }
  
  .timeline-item {
    background: transparent;
    border-left: 4px solid limegreen;
    padding: 10px;
    margin: 10px 0;
    transition: all 0.3s ease-in
  }

  .timeline-item:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .timeline-item h2 {
    margin: 0;
    color: var(--premiumwhite)
  }
  
  .prize-pool, .rules-regulations {
    margin: 20px 0;
  }
  
  .prize-pool h2, .rules-regulations h2 {
    color: limegreen;
  }
  
  .rules-regulations ul {
    list-style: none;
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .register-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: limegreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .register-button:hover {
    background-color: limegreen;
  }
  

  .glow-text {
    text-decoration: none;
    color: #ffffff; /* Text color */
    text-shadow: 
        0 0 5px rgba(0, 255, 0, 0.7), /* Green inner glow */
        0 0 10px rgba(0, 255, 0, 0.7), /* Green outer glow */
        0 0 15px rgba(255, 215, 0, 0.7), /* Gold outer glow */
        0 0 20px rgba(255, 215, 0, 0.7); /* Stronger gold outer glow */
}


.moving-gear>i{
  font-size: 200px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}


.prop-image{
    position: absolute;
    z-index: -1;
    top: 15%;
    left: 65%;    
}
.prop-image > img{
    width: 200px;
}

/* Rotate Image */
.rotate-image {
  width: 200px; /* Set your desired width */
  animation: moveRotateDiagonal 12s linear infinite; /* Continuous rotation */
}

@media (max-width: 768px) {
    .prop-image{
        left: 75%;
    }

    .prop-image > img{
        width: 75px;
    }
}

/* animations */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@keyframes moveRotateDiagonal {
  0% {
      top: 0;
      left: 0;
      transform: rotate(0deg);
  }
  50% {
      top: calc(100vh - 100px); /* Move to the bottom-right corner */
      left: calc(100vw - 100px);
      transform: rotate(180deg); /* Rotate halfway */
  }
  100% {
      top: 0;
      left: 0;
      transform: rotate(360deg); /* Complete the full rotation */
  }
}