.container-fluid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.hack-synthesis-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  direction: ltr;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;

  margin-bottom: 20px;
}

.glass-content {
  width: 60%;
  padding: 20px;
  display: ltr;
  text-align: justify;
}

.sections {
  margin-bottom: 20px;
}

.sections button {
  margin-top: 12px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sections button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.section-content h2 {
  margin-top: 0;
  color: #ffffff;
}

.section-content p,
.section-content ul,
.section-content ol {
  color: #f0f0f0;
}

.hack-image {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hack-image img {
  max-width: 100%;
  border-radius: 15px;
}


.apply-button{
  margin-top: 22px;
}

@media (max-width: 480px) {


  .hack-synthesis-container{
    display: flex;
    flex-direction: column;
  }

  .glass-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sections{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 768px) {

  .hack-synthesis-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }

  .glass-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .sections{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sections > button{
    margin-top: 12px;
  }

  .hack-image img {
    width: 200px;
    border-radius: 15px;
  }
}

@media (max-width: 1200px) {
  .sections{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hack-image img{
    width: 300px;
  }

  .sections > button{
    margin-top: 12px;
  }

  .section-content{
    overflow: scroll;
  }
}