<div [class]="getClass()">
  <div class="logo">
    <div class="images">
      <div class="image">
        <img class="uem" src="/assets/images/iem_white.png" alt="UEM LOGO" />
      </div>

      <div class="image">
        <img class="uem" src="/assets/images/uem_white.png" alt="UEM LOGO" />
      </div>

      <div class="image">
        <img
          class="driveblaze"
          src="/assets/images/logo.png"
          alt="DRIVE BLAZE"
        />
      </div>
    </div>
    <button (click)="closeButton()">
      <i style="color: white" class="fa-solid fa-x"></i>
    </button>
  </div>

  <div class="nav-items">
    <ul>
      <li class="nav-item">
        <a routerLink="/home" (click)="closeButton()" class="glow-text"
          >Home</a
        >
      </li>

      <li class="nav-item">
        <a routerLink="/about" (click)="closeButton()" class="glow-text"
          >About</a
        >
      </li>

      <li class="nav-item">
        <a routerLink="/events" (click)="closeButton()" class="glow-text"
          >Events</a
        >
      </li>

      <li class="nav-item">
        <a class="glow-text" routerLink="/partners" (click)="closeButton()"
          >Partners</a
        >
      </li>

      <li class="nav-item">
        <a routerLink="/contact" class="glow-text" (click)="closeButton()"
          >Contact</a
        >
      </li>

      <li class="nav-item">
        <a routerLink="/team" class="glow-text" (click)="closeButton()">Team</a>
      </li>
    </ul>
  </div>
</div>
