<div [class]="getClass()">
    <div class="logo">
        <img src="/assets/images/logo.png" alt="" (click)="goto('/home')">
        <button (click)="closeButton()">
            <i style="color: white;" class="fa-solid fa-x" ></i>
        </button> 
    </div>

    <div class="nav-items">
        <ul>
            <li class="nav-item"><a routerLink="/about" (click)="closeButton()"  class="glow-text">About</a></li>
            <li class="nav-item"><a routerLink="/contests" (click)="closeButton()"   class="glow-text">Contests</a></li>
            <li class="nav-item"><a class="glow-text" (click)="closeButton()">Workshops</a></li>
            <li class="nav-item"><a routerLink="/hackathon" (click)="closeButton()" class="glow-text">Hackathons</a></li>
            <li class="nav-item"><a class="glow-text" (click)="closeButton()">Tech Talk</a></li>
            <li class="nav-item"><a class="glow-text" (click)="closeButton()">Sponsors</a></li>
            <li class="nav-item"><a  routerLink="/contact" class="glow-text" (click)="closeButton()">Contact Us</a></li>
            <li class="nav-item"><a class="glow-text" (click)="closeButton()">Team</a></li>
        </ul>
    </div>
</div>