<div class="quiz-container">
    <h1 class="glow-text">Yukti Yagna</h1>
    <h2>Technical Quiz Extravaganza</h2>
    <p class="info">
      Yukti Yagna is a thrilling technical quiz that challenges your knowledge and problem-solving skills. Compete with others and showcase your expertise in various technical domains!
    </p>
    
    <div class="event-details">
      <h3 class="glow-text">Event Date</h3>
      <p>September 28, 2024</p>
      
      <h3 class="glow-text">Guidelines</h3>
      <ul>
        <li>Each team must consist of 1 to 2 members.</li>
        <li>Register before the deadline to secure your spot.</li>
        <li>Ensure that your team is well-prepared for a challenging quiz.</li>
        <li>All participants must adhere to the event rules and code of conduct.</li>
        <li>PLEASE ENSURE THE PROPER PAYMENT CREDENTIALS ARE UPLOADED.</li>
      </ul>
      
      <h3>How to Fill the Form</h3>
      <ol>
        <li>Click the register button below to start the registration process.</li>
        <li>Fill in the required details, including team name and member names.</li>
        <li>Submit the form and complete the payment of ₹100.</li>
        <li>Receive a confirmation email with further instructions.</li>
      </ol>
      
      <h3>Team Details</h3>
      <p>EACH TEAM MUST HAVE A MINIMUM OF 1 AND MAXIMUM 2 MEMBERS</p>
      <P>ONLY TEAM LEADER SHALL FILL THE FORM AND PROVIDE CREDENTIALS OF THE OTHER MEMBER</P>
      <P>NO DUBLICATE ENTRIES WILL BE ENTERTAINED</P>
      
      <h3>Registration Fees</h3>
      <p style="font-weight: bold;" class="glow-text">₹100 PER TEAM</p>
      
      <button class="register-button" (click)="register()">Register Now</button>
    </div>
  </div>
  