
html, body {
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    z-index: -1000;
}

::-webkit-scrollbar {
    width: 4px; /* Adjust the width as needed */
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--premiumwhite); /* Change color as needed */
    border-radius: 4px; /* Adjust the border radius as needed */
  }

:root{
    --premiumdark:#070804;
    --divider:#2B2B2B;
    --premiumwhite:#FEF8F8;
}