
html, body {
    height: 100%;
    margin: 0;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background: black;
}

h1,h2,h3{
  font-weight: 700;
}


::-webkit-scrollbar {
    width: 4px; /* Adjust the width as needed */
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--premiumwhite); /* Change color as needed */
    border-radius: 4px; /* Adjust the border radius as needed */
  }

:root{
    --premiumdark:#070804;
    --divider:#2B2B2B;
    --premiumwhite:#FEF8F8;
}