<div class="layout-container">


  <div class="background">
    <img src="/assets/images/removedarc.png" alt="" />
  </div>


  <div class="containers">
    <div class="logo">
      <img src="/assets/images/home.png" alt="" (click)="goto('/about')" />
    </div>
    <div class="logo-text">
      <h2 class="shiny-text disappearing-text fade-in">
        Experience the future
        <span class="gradient-text typewriter">{{ displayText }}</span> &
        <span class="gradient-text2">beyond</span>
      </h2>
      <h3 class="disappearing-text fade-in">
        28<sup>th</sup> & 29<sup>th</sup> September 2024
      </h3>
  </div>
  <button (click)="goto('/contests')">
    <span class="text">Go to Events</span>
  </button>
</div>


<div class="background2">
  <img src="/assets/images/removedarc.png" alt="" />
</div>

</div>