

<div class="layout-container">
  <div class="containers">
    <div class="menu-container">
        <div class="menu-item item-1"><h2>Hackathons</h2></div>
        <div class="menu-item item-2"><h2>WebDev</h2></div>
        <div class="menu-item item-3"><h2>Venture Investment</h2></div>
        <div class="menu-item item-4"><h2>Tech Talks</h2></div>
        <div class="menu-item item-5"><h2>Corporate Fair</h2></div>
        <div class="menu-item item-6"><h2>& Many More</h2></div>
    </div>
  </div>

  <div class="containers container1">
    <div class="logo">
      <img src="/assets/images/full_logo.png" alt="" />
    </div>
    <div class="logo-text">
      <h2 class="shiny-text disappearing-text fade-in">
        Experience the future <span class="gradient-text">today!</span> & <span class="gradient-text2">beyond</span>
      </h2>
    </div>
    <div class="button">
      <button class="gradient-button+ button-appear">Go To Events</button>
    </div>

    <div class="description">
      <p class="fade-in">
        DriveBlaze is the premier annual tech magazine of UEM Kolkata,
        showcasing the forefront of technological innovation and thought
        leadership. This year, DriveBlaze will be highlighted by approximately
        10 exciting and diverse events, each designed to engage and inspire the
        tech community. From cutting-edge presentations and interactive
        workshops to insightful panel discussions and networking opportunities,
        DriveBlaze aims to be a hub for tech enthusiasts, industry
        professionals, and students alike, reflecting the dynamic and rapidly
        evolving world of technology.
      </p>
    </div>
  </div>
</div>


<div class="prom-images">
    <div class="prom-image">
        <img src="/assets/images/prop_img4.png" alt="">
    </div>
    
    <div class="prom-image"  style="  transform: scaleX(-1);">
        <img src="/assets/images/prop_img4.png" alt="">
    </div>
</div>




