/* Base styles for larger screens */
.layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Changed to cover to ensure the background fills the area */
}

.containers {
  width: 50%;
  height: 100%;
  text-align: center;
  position: relative; /* Added for absolute positioning of background images */
}

.background, .background2 {
  position: absolute;
  top: 0;
  width: 200%; /* Ensures full coverage */
}

.background {
  left: -1%;
  animation: rotate 30s infinite linear;
}

.background2 {
  right: -40%;
  animation: rotateReverse 30s infinite linear;
}

.home-rotator {
  z-index: -1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(5px);
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(90deg, aqua, #ffcc00);
  -webkit-background-clip: text;
  color: transparent;
}

.logo > img {
  width: 85%;
  animation: levitate 3s ease-in-out infinite;
  cursor: pointer;
}

.logo-text > h2 {
  text-transform: uppercase;
  font-weight: 700;
}

@keyframes levitate {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.description > p {
  text-align: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s forwards;
}

.decor {
  width: 45%;
  position: absolute;
  right: -6%;
  top: 22%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotateReverse {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

.button-63 { 
  background-image: linear-gradient(144deg,#148af8, #5B42F3 50%,#00DDEB);
  border: none;
  border-radius: 25%;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (max-width: 480px) {
  .layout-container {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center; /* Center text for small screens */
      justify-content: center;
      height: auto; /* Allow content to expand naturally */
  }

  .containers {
      width: 100%;
      height: auto;
  }

  .background, .background2 {
      display: none; /* Hide background elements on very small screens */
  }

  .logo > img {
      width: 100%;
  }

  .home-rotator {
      filter: none; /* Remove blur for smaller screens if needed */
  }
}

@media (max-width: 768px) {
  .layout-container {
      flex-direction: column-reverse;
      align-items: center;
      text-align: justify;
      justify-content: center;
      height: auto; /* Allow content to expand naturally */
  }

  .containers {
      width: 100%;
      height: auto;
  }

  .background, .background2 {
      display: none; /* Hide background elements on smaller screens */
  }

  .logo > img {
      width: 100%;
  }

  .home-rotator {
      filter: none; /* Remove blur if necessary */
  }
}

@media (min-width: 769px) and (max-width: 1048px) {
  .layout-container {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      justify-content: center;
      height: auto; /* Allow content to expand naturally */
  }

  .containers {
      width: 100%;
      height: auto;
  }

  .background {
      display: none; /* Hide background elements on smaller laptops */
  }

  .background2 {
      display: none; /* Hide additional background elements */
  }

  .logo > img {
      width: 100%;
  }
}
